html {
  background-color: #D9D8CE;
}
h1 {
  text-align: center;
  font-family: courier;
  border-bottom: 6px solid gray;
  font-size: 5em;
  padding-bottom: 75px;
  padding-top: 25px;
  color: #68697A;
  text-decoration: underline;
}
#title {
  font-size: 18pt;
  font-family: courier;
  color: #68697A;
}
#text {
  margin-top: 30px;
  margin-left: 300px;
  padding-right: 150px;
  font-family: courier;
  background-color: #D9D8CE;
  margin-right: 150px;
  height: 500px;
  color: #68697A;

}
#date {
  font-family: courier;
  color: #68697A;
}
#image {
  width: 250px;
  height: 250px;
  margin-top: -250px;
  padding-left: 25px;
}
body {
  border-right: 6px solid gray;
  margin-right: 250px;
}
.button-list {
  height: 25px;
  width: 50px;
  text-align: center;
  font-size: 2em;
  font-family: courier;
  color: #68697A;
  margin-left: 565px;
