
#navbar-default {
  padding: 0;
}


.top_img {
  width: 205%;
  height: auto;
  padding: 0;
}

#picture_text {
  color: white;
  text-align: center;
  margin-top: -300px;
}

#background {
  background-color: black;
}

#nav_top {
  margin-bottom: 0;
}

#profile_pic {
  height: 50%;
  padding-left: 5%;
  padding-top: 5%;
}

#bio_text {
  padding-top: 10%;
  color: white;
}

#contact {
  color: white;
  text-align: center;
}