
#navbar-default {
  padding: 0;
}


.top_img {
/*  width: 205%;*/
  width: 100%;
  height: auto;
  padding: 0;
}

#name {
  font-size: 2em;
  margin-right: 15%;
  margin-left: 15%;
  font-family: "Courier New";
}

#picture_text {
  color: white;
  text-align: center;
  margin-top: -30%;
}

#background {
  background-color: black;
}

#profile_section {
  border-top: 5px solid white;
}

#nav_top {
  margin-bottom: 0;
}

#profile_pic {
  height: 50%;
  padding-left: 5%;
  padding-top: 5%;
}

#bio_text {
  padding-top: 10%;
  color: white;
}

#contact {
  color: white;
  text-align: center;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 35%;
    margin-right: 35%;
    border-style: inset;
    border-width: 1px;
}

.icons {
  height: 50px;
  margin-right: 10px;
}

.icons:hover {
  background-color: #E8713F;
}

#projects {
  border-top: 5px solid white;
  text-align: center;
  margin-top: 75px;
  color: white;
}

#projects_info {
  color: white;
}